<div class="nota" style="background-color: {{color}} !important;">
      <div class="text_nota">
        <h3>{{title}}</h3>
        <p>
          {{text}}
        </p>
      </div>
      <div class="btn_nota">
        <a href="{{url}}" class="link_notas">{{link}}</a>
        <div class="triangle_nota"></div>
      </div>
</div>